
/*Body Settings*/
body {
    background-color: whitesmoke;
    scroll-behavior: smooth;
    transition: all 1s ease;
    font-family: 'Space Mono', monospace;
}

/*Font setup*/
h1, h2, h3, label {
    font-family: 'Space Grotesk', sans-serif;
}

hr {
    margin: 20px 0;
    border-bottom: 1px solid #bbb;
}

h5{
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #FFD0AE 90%);
}

/*Big Sections*/
.section {
    background-color: whitesmoke;
    margin: 100px auto;
    width: 120%;
    max-width: 1100px;
    padding: 10px 100px 20px;
    /*Shadow effect*/
    /* box-shadow: 3px 3px 15px 15px #888888;  */
    border-radius: 25px;
}

/*HOVER ANIMATIONS*/
/*Div Hover animation*/
.section:hover {
    transform: translateY(1%); /*translate div down*/
    transition: 0.2s;
}

/*Scroll activated background color change*/
.colorblock {
    /*secondary color background*/
    background-color: #797D7F;
}

/*Button Animations*/
button{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 4px;
    color: white; /*set 1 colour*/
    background-color: black;
    font-size: medium;
    transition: ease-out 0.3s;
    position: relative;
    z-index: 1;
}
button:hover{
    background-color: white; /*set 2 colour*/
    color: black;
    border: 3px solid black;
    font-weight: bold;
    cursor:pointer;
}
button:before{
    transform: 0.5s all ease; /*transition timer*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 50%;
    opacity: 0; /*off opacity*/
    content: "";
    background-color: white;
}
button:hover:before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1; /*on opacity*/
    z-index: -1;
}

/*Header highlight animation*/
.header{
    position:relative;
    z-index: 1;
    display: inline-block;
}

.header::after{
    content: "";
    position: absolute;
    top: -0.25rem;
    left: -2rem;
    bottom: -0.25rem;
    width: calc(100% + 4rem);
    background-color: #D5A021;
    z-index: -1;

    transform: scaleX(0.075);
    transform-origin: left;
    transition: transform 250ms ease-in;
}

.header:hover .header


/*Section 4 - Contact Me remove hyperlink parameters*/
#contactLocation:hover, #contactLocation, #prjlocation:hover, #prjlocation{
    /*Remove Contact hyperlink colouring*/
    color: black;
    /*Remove Contact underline*/
    text-decoration: none;
}

#navBar{
    padding: 30px;
    margin: 5px;
    border-bottom: 1px solid black;
    box-shadow: #888888;
    display: flex;
    justify-content: flex-end;
}


/*Section 1 - First Block*/
#titlepage{
    padding: 50px 150px;
}

#titlepage h1{
    font-size: 100px;
}

.edu {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 30px 30px 30px 0px;
}

/*Section 3 - Education*/
.edu #tag{
    flex: 30%;
    text-align: center;
    font-size: larger;
}
.edu #content{
    flex: 70%;
}

.prj {
    display: flex;
    background-color: white;
    border-radius: 30px 30px 30px 30px;
    justify-content: space-between;
    gap: 20px;
}

.prj-content{
    flex: 70%;
}

.prj-img{
    flex: 50%;
    flex-direction: column;
}

/*Screen size responsiveness*/
@media screen and (max-width:900px) {    
    /* .section {
        padding: 10px 40px 20px;
    } */

    /* .information-row {
        flex-direction: column;
    } */
}